################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AlpacaWalks/App_Data/NuGetBackup
/packages
/AlpacaWalks/bin
/AlpacaWalks/config
/AlpacaWalks/App_Browsers
/AlpacaWalks/App_Plugins/ModelsBuilder
/AlpacaWalks/Media
/AlpacaWalks/obj/Debug
/AlpacaWalks/App_Data/Logs/UmbracoTraceLog.DESKTOP-T69TDHC.txt
/AlpacaWalks/App_Data/Models
/AlpacaWalks/App_Data/packages/installed/installedPackages.config
/AlpacaWalks/App_Data/TEMP/ClientDependency
/AlpacaWalks/App_Data/TEMP
